@use "blockTypeWin.scss";
@use "templatePicture.scss";
@use "blockBuffer.scss";
@use "menu.scss";

.initializing-win {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  .title {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 20px;
  }
  .status {
    margin: 20px;
    font-size: large;
    color: red;
    text-align: center;
  }
}

#main {
  height: 100%;
  div.whole {
    height: 100%;
    display: flex;
    flex-direction: column;
    .top {
      white-space: nowrap;
      display: flex;
      > div {
        vertical-align: bottom;
      }
      .tool-box {
        flex-grow: 10;
        display: inline-block;
        .status {
          height: 32px;
          margin: 5px;
          padding: 3px;
          border: dotted 1px green;
        }
        .tool-bar {
          margin: 5px;
          padding: 5px;
          border: solid black 1px;
          button.tool {
            font-size: large;
          }
          button.tool.pushed {
            color: red;
          }
        }
      }
      .block-group-win {
        flex-shrink: 10;
        overflow-x: auto;
      }
    }
  }
}
#canvas-frame {
  display: flex;
  flex-grow: 10;
}

#canvas-frame[mode="select"] {
  cursor: auto;
}
#canvas-frame[mode="pan"] {
  cursor: grab;
}
#canvas-frame[mode="paint"] {
  cursor: url(cursor/pencil.svg) 1 16, auto;
}
#canvas-frame[mode="rect-fill"] {
  cursor: url(cursor/pencil-square.svg) 1 16, auto;
}
#canvas-frame[mode="erase"] {
  cursor: url(cursor/eraser.svg) 1 16, auto;
}
#canvas-frame[mode="spoid"] {
  cursor: url(cursor/eyedropper.svg) 1 16, auto;
}
#canvas-frame[mode="measure"] {
  cursor: url(cursor/rulers.svg), auto;
}
